<div class="container">
  <p>
    Les produits de soins utilisés pour ces prestations sont pourvus d’extraits naturels aux vertus
    hydratante et régénérantes.
  </p>
  <div class="row">
    <div class="col">
      <div class="tabs">
        <div class="tab">
          <input type="checkbox" id="chck1" />
          <label class="tab-label" for="chck1"
            >Réhaussement de cils</label
          >
          <div class="tab-content">
            <p>Durée : 30 min Tarifs : 45€</p>
          </div>
        </div>
        <div class="tab">
          <input type="checkbox" id="chck2" />
          <label class="tab-label" for="chck2"> Réhaussement de sourcils</label>
          <div class="tab-content">
            <p> Durée : 45 min Tarifs : 35 €</p>
          </div>
        </div>
        <div class="tab">
          <input type="checkbox" id="chck3" />
          <label class="tab-label" for="chck3">Teinture de cils </label>
          <div class="tab-content">
            <p>Durée : 15 min Tarifs : 15 €</p>
          </div>
        </div>
        <div class="tab">
          <input type="checkbox" id="chck4" />
          <label class="tab-label" for="chck4"
            >Teinture de sourcils</label
          >
          <div class="tab-content">
            <p> Durée : 15 min Tarifs : 10 €</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
