<div class="container">
  <p>
    Les produits de soins utilisés pour ces prestations sont pourvus d'extraits naturels aux vertues
    hydratantes et régénérantes.
  </p>
  <div class="row">
    <div class="col">
      <div class="tabs">
        <div class="tab">
          <input type="checkbox" id="chck1" />
          <label class="tab-label" for="chck1"
            >Réhaussement de cils</label
          >
          <div class="tab-content">
            <b>Durée : 30 min Tarif : 45€</b>
          </div>
        </div>
        <div class="tab">
          <input type="checkbox" id="chck3" />
          <label class="tab-label" for="chck3">Teinture de cils </label>
          <div class="tab-content">
            <b>Durée : 15 min Tarif : 15 €</b>
          </div>
        </div>
        <div class="tab">
          <input type="checkbox" id="chck4" />
          <label class="tab-label" for="chck4"
            >Teinture de sourcils</label
          >
          <div class="tab-content">
            <b> Durée : 15 min Tarif : 10 €</b>
          </div>
        </div>
        <div class="tab">
          <input type="checkbox" id="chck2" />
          <label class="tab-label" for="chck2"> Mascara semi-permanent</label>
          <div class="tab-content">
            <b> Durée : 30 min Tarif : 35 €</b>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
