<div class="container">
    <p>Les produits de soins utilisés pour ces prestations sont pourvus d’extraits naturels aux vertus hydratantes et régénérantes.</p>
    <div class="row">
      <div class="col">
        <div class="tabs">
          <div class="tab">
            <input type="checkbox" id="chck1" />
            <label class="tab-label" for="chck1">Soin des ongles MAINS</label>
            <div class="tab-content">
              <p>
                Limage, Cuticules, crème, base de soin.
              </p>
              <b>Tarif: 30€</b>
            </div>
          </div>
          <div class="tab">
            <input type="checkbox" id="chck2" />
            <label class="tab-label" for="chck2"> Pose de vernis</label>
            <div class="tab-content">
              <p>
                
              </p>
              <b>Tarif: 10€</b>
            </div>
          </div>
          <div class="tab">
            <input type="checkbox" id="chck3" />
            <label class="tab-label" for="chck3"> Soin des ongles PIEDS</label>
            <div class="tab-content">
              <p>
                Limage, Cuticules, Rape, Crème, base de soin.
              </p>
              <b>Tarif: 35€</b>
            </div>
          </div>
          <div class="tab">
            <input type="checkbox" id="chck4" />
            <label class="tab-label" for="chck4">Kallu's Peeling Bio</label>
            <div class="tab-content">
              <p>
                Pour une solution de fond apportant un résultat longue durée, 
                on opte plutôt pour une crème enrichie en chélidoine(une des plantes les plus efficaces pour soigner les verrues) 
                et également concentré d'un sérum riche en etarit de Caviar de Citron.
                Cet agrume rare d'Australie a de grandes propriétés exfolantes grâce à sa forte teneur en Alpha-Hydroxy Acides (AHA)
                Une exfoliation tout en douceur pour des pieds apaisés, hydratés et protégés.
              </p>
                <b>Tarif :35 € </b>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
