<div class="container">
  <p>Tous les massages sont réalisés avec des huiles végétales bio.</p>
  <div class="row">
    <div class="col">
      <div class="tabs">
        <div class="tab">
          <input type="checkbox" id="chck1" />
          <label class="tab-label" for="chck1">Le californien</label>
          <div class="tab-content">
            <p>
              Massage doux composé de mouvements fluides et lents permettant une
              profonde relaxation physique et psychique.
            </p>
            <b>Durée: 1h Tarif: 62€</b>
          </div>
        </div>
        <div class="tab">
          <input type="checkbox" id="chck2" />
          <label class="tab-label" for="chck2"> Massage Coco Bougie</label>
          <div class="tab-content">
            <p>
              Choisissez votre bougie, elle repartira avec vous. En plus de vous
              relaxer, ce massage est connu pour son coté nourrissant, il
              apporte confort et forte sensation de douceur.
            </p>
            <b>Durée: 45 min Tarif: 63€</b>
          </div>
        </div>
        <div class="tab">
          <input type="checkbox" id="chck3" />
          <label class="tab-label" for="chck3"> Les trois trésors</label>
          <div class="tab-content">
            <p>
              Ce massage relaxant agit aussi bien sur le corps que sur le mental
              en favorisant le lâcher prise. Une Véritable thérapie manuelle
              holistique visant essentiellement la relaxation et la tonification
              des muscles.
            </p>
            <b>Durée: 1h Tarif: 70€</b>
          </div>
        </div>
        <div class="tab">
          <input type="checkbox" id="chck4" />
          <label class="tab-label" for="chck4">Le by «me» 30 min</label>
          <div class="tab-content">
            <p>
              Ce massage unique est précédé d'un entretien de quelques minutes
              qui permettra de cibler vos besoins. Les techniques de massages
              sont croisées pour vous offrir un soin absolument personnalisé. De
              part sa nature intuitive ce massage est difficile à décrire car il
              s'adapte à vos besoins.
            </p>
            <b>
              Tarif: pression douce / moyenne: 30€ Appuyée:
              40€
            </b>
          </div>
        </div>
        <div class="tab">
          <input type="checkbox" id="chck5" />
          <label class="tab-label" for="chck5">Le by «me» 1h</label>
          <div class="tab-content">
            <p>
              Ce massage unique est précédé d'un entretien de quelques minutes
              qui permettra de cibler vos besoins. Les techniques de massages
              sont croisées pour vous offrir un soin absolument personnalisé. De
              part sa nature intuitive ce massage est difficile à décrire car il
              s'adapte à vos besoins.
            </p>
            <b>
              Tarif: pression douce/ moyenne: 62€ Appuyée: 80€
            </b>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
