<div class="container">
  <p>Tous les massages sont réalisés avec des huiles végétales bio.</p>
  <div class="row">
    <div class="col">
      <div class="tabs">
        <div class="tab">
          <input type="checkbox" id="chck1" />
          <label class="tab-label" for="chck1">Le californien</label>
          <div class="tab-content">
            <p>
              Massage doux composé de mouvements fluides et lents permettant une
              profonde relaxation physique et psychique.
            </p>
            <b>Durée: 1h Tarif: 62€</b>
          </div>
        </div>
        <div class="tab">
          <input type="checkbox" id="chck2" />
          <label class="tab-label" for="chck2"> Massage Coco Bougie</label>
          <div class="tab-content">
            <p>
              Choisissez votre bougie, elle repartira avec vous. En plus de vous
              relaxer, ce massage est connu pour son coté nourrissant, il
              apporte confort et forte sensation de douceur.
            </p>
            <b>Durée: 45 min Tarif: 65€</b>
          </div>
        </div>
        <div class="tab">
          <input type="checkbox" id="chck3" />
          <label class="tab-label" for="chck3"> Les trois trésors</label>
          <div class="tab-content">
            <p>
              Ce massage relaxant agit aussi bien sur le corps que sur le mental
              en favorisant le lâcher prise. Une Véritable thérapie manuelle
              holistique visant essentiellement la relaxation et la tonification
              des muscles.
            </p>
            <b>Durée: 1h Tarif: 70€</b>
          </div>
        </div>
        <div class="tab">
          <input type="checkbox" id="chck4" />
          <label class="tab-label" for="chck4">Le by «me»</label>
          <div class="tab-content">
            <p>
              Ce massage unique est précédé d'un entretien de quelques minutes
              qui permettra de cibler vos besoins. Les techniques de massages
              sont croisées pour vous offrir un soin absolument personnalisé. De
              part sa nature intuitive ce massage est difficile à décrire car il
              s'adapte à vos besoins.
            </p>
            <b><ul>
              <li>Durée : 30 min Tarif : pression douce / moyenne : 30 € Appuyée : 40 € </li>
              <li>Durée : 1h Tarif : pression douce / moyenne : 62 € Appuyée : 80 €</li>
            </ul>
            </b>
          </div>
        </div>
        <div class="tab">
          <input type="checkbox" id="chck6" />
          <label class="tab-label" for="chck6">Méthode RENATA FRANÇA </label>
          <div class="tab-content">
            <p>
              Cette technique de drainage lymphatique dite « révolutionnaire »
              inventée dans les années 2000 par une masseuse Brésilienne (Renata
              França « herself », promet une silhouette affinée, un ventre
              dégonflé et une sensation de bien-être et de légèreté absolue.
            </p>
            <b>
              <ul>
                <li>Drainage lymphatique : Durée 1h15 Tarif : 150 €</li>
                <li>Remodelage : durée 1h15 Tarif : 150 €</li>
                <li>Forfait 5 séances : 650€</li>
              </ul>
            </b>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
