<div class="container">
  <p>
    Soins spécifiques Douces Angevines, réalisés avec des cosmétiques purs et
    vivants, 100 % Bio. Chaque élixir de beauté est élaboré artisanalement en
    petite quantité suivant la tradition des « bonnes femmes » herboristes  du
    temps médiéval. Ils renferment le meilleur des énergies solaires et lunaires,
    et transmet fidèlement l’esprit des plantes qui le composent.
  </p>
  <div class="row">
    <div class="col">
      <div class="tabs">
        <div class="tab">
          <input type="checkbox" id="chck1" />
          <label class="tab-label" for="chck1"
            >Gommage corps, Au jardin de Jasmine</label
          >
          <div class="tab-content">
            <p>
              Voyage subtil au cœur de la beauté. Pour une mise en lumière de
              votre corps, entrez dans le Jardin de Jasmine. Votre peau est
              d’abord stimulée par un brossage doux, assouplie par un modelage
              avec le fluide L’Amour aux trois Oranges. Le gommage Au Jardin de
              Jasmine, aux vertues purifiantes vous enveloppe alors de son grain
              délicat et de ses effluves divines. Votre peau respire, elle est
              sublimée. Ce soin lui donne une douceur soyeuse incomparable.
            </p>
            <b>Durée : 1h Tarif : 65 €</b>
          </div>
        </div>
        <div class="tab">
          <input type="checkbox" id="chck2" />
          <label class="tab-label" for="chck2">Cocon de soi</label>
          <div class="tab-content">
            <p>
              Le modelage de chaque partie du corps s'accompagne des effluves
              subtiles des fluides Douces Angevines et se conclut
              par l’application bienfaisante d'un linge chaud. Au fil des
              différentes «mues», vous goûtez à la douceur et la détente de ce
              soin-métamorphose jusqu'à l'envol du papillon. Ce modelage douceur
              invite à un véritable voyage vers soi.
            </p>
            <b>Durée : 1h Tarif : 75 €</b>
          </div>
        </div>
        <div class="tab">
          <input type="checkbox" id="chck3" />
          <label class="tab-label" for="chck3">Soin des Mains : Yada</label>
          <div class="tab-content">
            <p>
              "Par les mains passe la grâce." Fruit de la rencontre avec la
              manucure Edwige Llorente, spécialiste des mains et des ongles,
              Yada permet la mise en beauté de la main à travers différentes
              étapes de gommage, de massage et préparation de l'ongle. Le
              résultat de ce soin est une main naturelle, lumineuse et élégante
              jusqu&#39;au bout des ongles.
            </p>
            <b>Durée : 45 min Tarif : 45 €</b>
          </div>
        </div>
        <div class="tab">
          <input type="checkbox" id="chck4" />
          <label class="tab-label" for="chck4"
            >Soin des pieds, Le bain de Thétis</label
          >
          <div class="tab-content">
            <p>
              Pour une mise en beauté des pieds et une relaxation
              globale. Recevoir toute la douceur et l'attention d'un soin
              complet par les pieds. Vos pieds entrent dans un bain parfumé, un
              véritable rituel purifiant et relaxant commence… Ce soin comporte
              toutes les étapes nécessaires pour adoucir, nourrir la peau des
              pieds, détendre les jambes et apaiser lesprit.
            </p>
            <b>Durée : 1h Tarif :55</b>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
