<div class="container">
  <div class="row">
    <p class="text-center">
      L'INSTITUT SERA OUVERT DU LUNDI AU VENDREDI DE 9H A 19H,UNIQUEMENT SUR RENDEZ-VOUS</p>

    <p class="text-center">
      Vous avez la possibilité de prendre rendez-vous par :
    </p>
    <p class="text-center">
      Messenger ou Instagram.
    </p>
    <p class="text-center">Appel téléphonique ou SMS</p>

    <p class="text-center">
      La Cabane Beauté est privatisée pour chaque rendez-vous, Je vous invite à
      vous présenter 5 minutes avant l'heure de votre rendez-vous seulement.
    </p>
    <p class="text-center">
      Si toutefois vous arrivez avant vous pouvez patienter en silence SVP dans
      la zone d’accueil qui sera ouverte quelques minutes avant la prise de
      congé de la cliente précédente. Si vous trouvez la porte fermée c’est que
      je suis encore en soin. Merci de patienter.
    </p>
    <p class="text-center">
      En cas de retard de ma part, je vous informerez et vous ne serez pas
      impacté. En cas de retard de votre part, votre soin sera diminué sans
      contrepartie financière de façon à garantir la pleine satisfaction des
      clients suivants.
    </p>

    <p class="text-center">
      Les Cartes Cadeaux ont une durée de validité
      qui doit être respectées. Les achats de prestations, cartes cadeaux et
      produits ne peuvent donner lieu à des remboursements.
    </p>
    <p class="text-center">
      Merci de m’aviser en cas de problèmes médicaux particuliers ou de
      grossesse, certains soins pourraient vous être déconseillés.
    </p>
    <p class="text-center">
      Un Parking Privatif est à votre disposition, garez vous à votre aise,
      toutefois attention à ne pas gêner la sortie d’un autre véhicule.
    </p>
    <p class="text-center">
      Pour le confort de tous, lorsque je suis en soin je ne réponds pas aux
      appels, n’hésitez pas à me laisser un message vocal avec vos coordonnées et
      vos souhaits.
    </p>
    <p class="text-center">
      Pour toute question, information ou organisation : me contacter.
    </p>
  </div>
</div>
<app-footer></app-footer>
