<div class="container">
  <p>
    Ici, les épilations sont respectueuses de la peau avec des cires à épiler
    élaborées à partir de produits naturels d'une qualité irréprochable. Ces
    résines certifiées biologiques, apportent un plus grand confort d'épilation
    tout en respectant le système veineux. Un véritable soin.
  </p>
  <b> -10% à partir de 4 zones</b>
  <div class="row">
    <div class="col">
      <div class="tabs">
        <div class="tab">
          <input type="checkbox" id="chck1" />
          <label class="tab-label" for="chck1">Sourcils création </label>
          <div class="tab-content">
            <b>12 €</b>
          </div>
        </div>
        <div class="tab">
          <input type="checkbox" id="chck2" />
          <label class="tab-label" for="chck2">Entretien</label>
          <div class="tab-content">
            <b>8 €</b>
          </div>
        </div>
        <div class="tab">
          <input type="checkbox" id="chck3" />
          <label class="tab-label" for="chck3"
            >Lèvres supérieures ou menton </label
          >
          <div class="tab-content">
            <b>8 €</b>
          </div>
        </div>
        <div class="tab">
          <input type="checkbox" id="chck4" />
          <label class="tab-label" for="chck4">Joues </label>
          <div class="tab-content">
            <b>6 €</b>
          </div>
        </div>
        <div class="tab">
          <input type="checkbox" id="chck5" />
          <label class="tab-label" for="chck5">Visage </label>
          <div class="tab-content">
            <b>22 €</b>
          </div>
        </div>
        <div class="tab">
          <input type="checkbox" id="chck6" />
          <label class="tab-label" for="chck6">Aisselles </label>
          <div class="tab-content">
            <b>10 €</b>
          </div>
        </div>
        <div class="tab">
          <input type="checkbox" id="chck7" />
          <label class="tab-label" for="chck7">Bras </label>
          <div class="tab-content">
            <b>14 €</b>
          </div>
        </div>
        <div class="tab">
          <input type="checkbox" id="chck8" />
          <label class="tab-label" for="chck8">Jambes entières </label>
          <div class="tab-content">
            <b>24 €</b>
          </div>
        </div>
        <div class="tab">
          <input type="checkbox" id="chck9" />
          <label class="tab-label" for="chck9">Demi-jambes</label>
          <div class="tab-content">
            <b>16 €</b>
          </div>
        </div>
        <div class="tab">
          <input type="checkbox" id="chck10" />
          <label class="tab-label" for="chck10">Maillot classique </label>
          <div class="tab-content">
            <b>11 €</b>
          </div>
        </div>
        <div class="tab">
          <input type="checkbox" id="chck11" />
          <label class="tab-label" for="chck11">Maillot échancré </label>
          <div class="tab-content">
            <b>16 €</b>
          </div>
        </div>
        <div class="tab">
          <input type="checkbox" id="chck12" />
          <label class="tab-label" for="chck12">Maillot intégral </label>
          <div class="tab-content">
            <b>24 €</b>
          </div>
        </div>
        <p>Epilation Homme :</p>
        <div class="tab">
          <input type="checkbox" id="chck13" />
          <label class="tab-label" for="chck13">Sourcil </label>
          <div class="tab-content">
            <b>10 €</b>
          </div>
        </div>
        <div class="tab">
          <input type="checkbox" id="chck14" />
          <label class="tab-label" for="chck14">Dos ou torse </label>
          <div class="tab-content">
            <b>22 €</b>
          </div>
        </div>
        <div class="tab">
          <input type="checkbox" id="chck15" />
          <label class="tab-label" for="chck15"
            >Nez, oreilles, nuque, cou, joues </label
          >
          <div class="tab-content">
            <b>6 €</b>
          </div>
        </div>
        <div class="tab">
          <input type="checkbox" id="chck16" />
          <label class="tab-label" for="chck16">Aisselles</label>
          <div class="tab-content">
            <b>12 €</b>
          </div>
        </div>
        <div class="tab">
          <input type="checkbox" id="chck17" />
          <label class="tab-label" for="chck17">Epaules </label>
          <div class="tab-content">
            <b>8 €</b>
          </div>
        </div>
        <div class="tab">
          <input type="checkbox" id="chck18" />
          <label class="tab-label" for="chck18">Jambes entières</label>
          <div class="tab-content">
            <b>30 €</b>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
