<div class="container">
  <div class="row">
    <div class="col-12 col-sm-8 col-md-6 image-grid-item">
      <div
        style="
          background-image: url(../../assets/images/visage.jpeg);
        "
        class="image-grid-cover"
      >
        <a href="visage" class="image-grid-clickbox"></a>
        <a href="visage" class="cover-wrapper">les soins du visage DR Hauschka</a>
      </div>
    </div>
    <div class="col-12 col-sm-8 col-md-6 image-grid-item">
      <div
        style="
          background-image: url(../../assets/images/corps.jpeg);
        "
        class="entry-cover image-grid-cover has-image"
      >
        <a href="corps" class="image-grid-clickbox"></a>
        <a href="corps" class="cover-wrapper"
          >Les rituels soins du corps Douces Angevines</a
        >
      </div>
    </div>
    <div class="col-12 col-sm-8 col-md-6 image-grid-item">
      <div
        style="
          background-image: url(../../assets/images/massage.jpeg);
        "
        class="entry-cover image-grid-cover has-image"
      >
        <a href="massage" class="image-grid-clickbox"></a>
        <a href="massage" class="cover-wrapper">Les massages</a>
      </div>
    </div>
    <div class="col-12 col-sm-8 col-md-6 image-grid-item">
      <div
        style="
          background-image: url(../../assets/images/epilation.jpeg);
        "
        class="entry-cover image-grid-cover has-image"
      >
        <a href="epilation" class="image-grid-clickbox"></a>
        <a href="epilation" class="cover-wrapper">Epilations Soins</a>
      </div>
    </div>
    <div class="col-12 col-sm-8 col-md-6 image-grid-item">
      <div
        style="
          background-image: url(../../assets/images/regard.jpeg);
        "
        class="entry-cover image-grid-cover has-image"
      >
        <a href="regard" class="image-grid-clickbox"></a>
        <a href="regard" class="cover-wrapper">Beauté du regard</a>
      </div>
    </div>
    <div class="col-12 col-sm-8 col-md-6 image-grid-item">
      <div
        style="
          background-image: url(../../assets/images/Fond_coton.jpg);
        "
        class="entry-cover image-grid-cover has-image"
      >
        <a href="info" class="image-grid-clickbox"></a>
        <a href="info" class="cover-wrapper">Infos pratiques</a>
      </div>
    </div>
  </div>
</div>
<app-footer class="footer"></app-footer>

