<div class="container">
  <p>
    Les soins du visage Dr Hauschka, sont réalisés avec des produits de haute
    qualité naturel et bio 100% certifié et un art du touché unique.
  </p>
  <div class="row">
    <div class="col">
      <div class="tabs">
        <div class="tab">
          <input type="checkbox" id="chck1" />
          <label class="tab-label" for="chck1">Soin Plénitude</label>
          <div class="tab-content">
            <p>
              Le Soin Plénitude pour le Visage est unique. Cette méthode
              développée par Elisabeth Sigmund, la co- fondatrice de la
              Cosmétique Dr. Hauschka, respecte les rythmes naturels et soutient
              les fonctions cutanées.
            </p>
            <b>Durée : 2h Tarif : 132 € Forfait 6 soins : 660 €</b>
          </div>
        </div>
        <div class="tab">
          <input type="checkbox" id="chck2" />
          <label class="tab-label" for="chck2">Soin Revitalisant</label>
          <div class="tab-content">
            <p>
              Comme une journée à la mer ou une promenade dans les bois : avec
              ce soin revitalisant, vous donnez un coup de pouce à votre peau
              fatiguée. Idéal au changement de saisons.
            </p>
            <b>Durée : 1h45 Tarif : 116 €</b>
          </div>
        </div>
        <div class="tab">
          <input type="checkbox" id="chck3" />
          <label class="tab-label" for="chck3">Soin Harmonisant</label>
          <div class="tab-content">
            <p>
              Une respiration calme, un sentiment de confort, accompagne ce soin
              apaisant pour le visage qui vous aide à vous recentrer. La
              circulation lymphatique est activée en douceur par des mouvements
              rythmiques, effectués à la main et aux pinceaux.
            </p>
            <b>Durée : 1h30 Tarif : 99 €</b>
          </div>
        </div>
        <div class="tab">
          <input type="checkbox" id="chck4" />
          <label class="tab-label" for="chck4">Soin Pureté</label>
          <div class="tab-content">
            <p>
              Ce soin intensif offre à votre peau une sensation de liberté et de
              légèreté pour qu’elle rayonne. Bain de Vapeur et Masque Purifiant
              ouvrent et nettoient les pores en profondeur, tout en affinant le
              grain de la peau...
            </p>
            <b>Durée : 1h15 Tarif : 82 €</b>
          </div>
        </div>
        <div class="tab">
          <input type="checkbox" id="chck5" />
          <label class="tab-label" for="chck5">Soin Clarifiant</label>
          <div class="tab-content">
            <p>
              Bain de Vapeur et Masque Purifiant ouvrent et nettoient les pores
              en profondeur, tandis qu’une cure sur-mesure et un masque
              apportent leurs bienfaits apaisants. Ce soin permet à la peau
              sujette aux inflammations, d’être soulagée et de retrouver son
              équilibre naturel.
            </p>
            <b>Durée : 1h Tarif : 66 €</b>
          </div>
        </div>
        <div class="tab">
          <input type="checkbox" id="chck6" />
          <label class="tab-label" for="chck6"
            >Soin « Un temps pour moi »</label
          >
          <div class="tab-content">
            <p>
              Même si le temps vous est compté, cette heure vous appartient.
              Savourez les doux effleurages sur le visage et le décolleté, les
              bienfaits des cures, masques et soins sur-mesure. Pour ce
              rendez-vous avec soi, on trouve toujours le temps.
            </p>
            <b>Durée : 1h Tarif : 66 €</b>
          </div>
        </div>
        <div class="tab">
          <input type="checkbox" id="chck7" />
          <label class="tab-label" for="chck7">Soin « Instant Visage »</label>
          <div class="tab-content">
            <p>
              Initiez-vous à la gamme cosmétique Dr Hauschka lors d’un moment
              privilégié de bien –être.
            </p>
            <b>Durée : 30min Tarif : 40 €</b>
          </div>
        </div>
        <div class="tab">
          <input type="checkbox" id="chck8" />
          <label class="tab-label" for="chck8"
            >Option : Moment détente du dos</label
          >
          <div class="tab-content">
            <p>
              Un effleurage du dos pour une sensation accrue de lâché-prise et
              de légèreté. Peut s’ajouter à tous les soins Visage.
            </p>
            <b>Durée : 15 min tarif : 16.50 €</b>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
